---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
"minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

@font-face {
  font-family: 'Zapfino';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/ZapfinoExtraLT-Two.otf");
  font-display: swap;
}


@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: url("/docs/assets/fonts/Optima/OptimaLTPro-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: 'Optima';
  font-weight: bold;
  font-style: normal;
  src: url("/docs/assets/fonts/Optima/OptimaLTPro-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: 'Optima';
  font-weight: bold;
  font-style: italic;
  src: url("/docs/assets/fonts/Optima/OptimaLTPro-BlackItalic.otf");
  font-display: swap;
}

@font-face {
  font-family: 'Optima';
  font-style: italic;
  font-weight: normal;
  src: url("/docs/assets/fonts/Optima/OptimaLTPro-Italic.otf");
  font-display: swap;
}



@font-face {
  font-family: 'NeoEuler';
  font-style: normal;
  src: url("/docs/assets/fonts/euler.otf");
}




html, body, fieldset, img {
        font-size: 100%;
        font-family: 'Optima', serif;
}

table, tr, td, form {
        font-size: 100%;
        font-family: 'Optima', serif;
}

body {
        background: #fffcfa;
        z-index: 0;
        opacity: 1;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  margin-right: 0px;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
