---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
"minima/skins/{{ site.minima.skin | default: 'classic' }}",
"minima/initialize";

@font-face {
  font-family: 'Autography';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/Autography.otf");
}

@font-face {
  font-family: 'NeoEuler';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/euler.otf");
}

@font-face {
  font-family: 'DejaVu Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/DejaVuSerif.ttf");
}

@font-face {
  font-family: 'DejaVu Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/DejaVuSans.ttf");
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/metropolis/Metropolis Font family/Metropolis-Light.otf");
}

@font-face {
  font-family: 'Black Chancery';
  font-style: normal;
  font-weight: 400;
  src: url("/docs/assets/fonts/BLKCHCRY.TTF");
}


html, body, form, fieldset, table, tr, td, img {
        font-size: 100%;
        font-family: 'NeoEuler', serif;
}

body {
        background: #fffcfa;
        z-index: 0;
        opacity: 1;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  margin-right: 0px;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}
