<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

        <div id='upperBar'>
    {%- include header.html -%}
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
    </div>
        </div>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>


    {%- include footer.html -%}

  </body>

  <script src="/docs/assets/javascript/scroll.js">
  </script>

</html>

